@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-text {
    @apply flex text-sm sm:text-lg items-end gap-4 text-warna4 font-bold;
  }
  .nav-text-hover{
    @apply hover:text-warna5 hidden sm:flex
  }

  .main-content-text {
    @apply shadow-sm py-2 md:py-6;
  }
  .girl-image {
    @apply rounded-full h-10 w-10 overflow-hidden; 
  }
  .program1 {
    @apply sm:flex items-center sm:text-lg text-sm pl-2 text-warna1 font-bold hover:text-warna5;
    @apply justify-center text-center;
  }

  .rating-image{
    @apply w-full h-full object-cover object-top
  }

  .hamburger-nav{

    background-color: #18020C;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 17rem;
    height: 100vh;
    transition: 0.3s;
    opacity: 0;
    z-index: 999;
  }

  .hamburger-text{
    color: #BBCBCB;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .hamburger-nav.active{
    right: 0;
    opacity: 1;
    transition: 0.5s;
  }

  .change-text{
    animation: fadeInOut 4s infinite;
}

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #9590AB;
    visibility: hidden;
    opacity: 0;
    z-index: 997;
    transition: 0.6s;
    border-radius: 10px;
    padding: 20px 30px;
    font-weight: 700;
    color: #18020C;

  }

  .center.active{
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
  }


  .popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.25);
    width: 300px;
    padding: 20px 30px;
    background: #fff;
    text-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: 0.6s;
    z-index: 998;
    visibility: hidden;
    opacity: 0;
 
  }

  .popup.active{
visibility: visible;
opacity: 1;
transition: 1s;

  }

  .popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
  }

  .popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
  }

  .popup .form .form-element{
    margin: 15px 0px;
  }

  .popup .form .form-element label{
    font-size: 14px;
    color: #222;
  }

  .popup .form .form-element input[type="text"],
  .popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
  }

  .popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
  }

  .popup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
  }

  .popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600
    ;
  }



@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

  }

}
@layer utilities {
  svg {
    @apply sm:w-10 sm:h-10 w-8 h-8 mx-auto sm:mx-0;
  }
  .svg1 {
    @apply w-4 h-4 sm:w-6 sm:w-6 right-16;
  }
}
